<div class="px-8 pt-6 pb-10">
  <h1 class="text-heading font-poppins text-3xl font-bold mb-2">
    Trashed Notes
  </h1>
  <p class="text-grayText text-sm font-inter mb-6">
    These notes are in your trash. You can permanently delete or restore them.
    🗑️
  </p>

  <!-- Search & Filter -->
  <div class="flex flex-col sm:flex-row gap-3 mt-4 sm:mt-0">
    <!-- Optional Search Bar -->
    <app-search-bar (search)="onSearch($event)"></app-search-bar>

    <!-- Optional Filter Dropdown -->
    <!-- <app-filter-dropdown
        (filter)="onFilterChange($event)"
      ></app-filter-dropdown> -->
  </div>
</div>

<!-- Notes grid -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-6"
>
  <app-note-card
    *ngFor="let note of filteredTrashedNotes"
    [note]="note"
    [context]="'trash'"
    (toggleTrash)="handleTrash(note)"
  ></app-note-card>
</div>
